config setup

conn %default
      ikelifetime=60m
      keylife=20m
      rekeymargin=3m
      keyingtries=1
      keyexchange=ikev2
      authby=secret

{% if ( siteA_gateway_public_ip in ansible_all_ipv4_addresses) %}
conn siteA-siteB
      left={{ siteA_gateway_public_ip }}
      leftsubnet={{ private_subnet }}
      leftid={{ siteA_gateway_public_ip }}
      right={{ siteB_gateway_public_ip }}
      rightsubnet={{ hostvars[siteB_gateway_public_ip]['private_subnet'] }}
      rightid={{ siteB_gateway_public_ip }}
      auto=start
      leftupdown=/etc/strongswan.d/updown.sh
{% endif %}

{% if ( siteB_gateway_public_ip in ansible_all_ipv4_addresses ) %}
conn siteB-siteA
      left={{ siteB_gateway_public_ip }}
      leftsubnet={{ private_subnet }}
      leftid={{ siteB_gateway_public_ip }}
      right={{ siteA_gateway_public_ip }}
      rightsubnet={{ hostvars[siteA_gateway_public_ip]['private_subnet'] }}
      rightid={{ siteA_gateway_public_ip }}
      auto=start
      leftupdown=/etc/strongswan.d/updown.sh
{% endif %}