config setup

conn %default
      ikelifetime=60m
      keylife=20m
      rekeymargin=3m
      keyingtries=1
      keyexchange=ikev2
      authby=secret

conn {{ conn_name }}
      left={{ ansible_default_ipv4.address }}
      leftsubnet={{ local_subnet }}
      leftid={{ ansible_default_ipv4.address }}
      right={{ remote_gateway }}
      rightsubnet={{ remote_subnet }}
      rightid={{ remote_gateway }}
      auto=start
      leftupdown=/etc/strongswan.d/updown.sh